body{
	color: #ff6600;
	font-family: Reggae One, Noto Sans JP, "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, Sans Serif;
	background-color: #000000;
	word-spacing: 2.5px;
	letter-spacing: -1px;
	text-transform: uppercase;
	text-align: center;
	margin: auto;
}

header {
	text-align: center;
}

header img {
	width: 100%;
	margin: 0 auto;
}

main{
	max-width: 1450px;
	margin: 0 auto;
}

main img{
	max-width: 100%;
	max-height: 100%;
}


div{
	background-color: #252525;
	border-radius: 15px;
	border: 5px solid #006633;
	padding: 15px; 
	width: 1450px;
	margin: auto:
	padding: 15px;
	object-fit: contain;
}

h1{
	color: #000000;
	font-size: 55px; 
	font-weight: 800;
	line-height: 60px;
	background-color: #ff6600;
	border-radius: 15px;
	width: 1000px
	padding: 25px;
	margin: auto;
}

h2{
	font-size: 25px;
	font-weight: 750;
	text-align: center;
	color: #ff6600;
}

h3 {
	font-size: 23px;
	font-weight: 750;
	text-align: center;
	color: #ff6600;
}

blockquote{	
	font-size: 13px;
	text-align: center;
	color: #bcbcbb;
	margin: 5px;
	text-transform: none;
}

p{
	font-size: 20px; 
	font-weight: 400;
	word-break: keep-all;
	text-align: left;
	text-indent: 55px;
	margin: 25px;
	color: #ffffff
}

ol{
	list-style-type: upper-roman;
	font-weight: 400;
	word-break: keep-all;
	text-align: left;
	color: #ffffff
}

ol img{
	float: left;
	margin-right: 25px;

}

ol li{
	text-align: left;
	margin: 25px 50px 10px 100px;
}

ol dd {
	text-align-last: left;
	text-indent: 55px;
	margin-right: 50px;

}

ul{
	display: inline-block;
	text-align: left;
	list-style-type: none;
	list-style-position: 
	font-weight: 400;
	word-break: keep-all;
	color: #ffffff
}

ul img{
	margin: 0px 100px 0px 25px;
}

ul li{
	margin: auto;
    padding: 20px 100px 15px 100px;
}

ul li:before { content: '\00BB'; margin-left: -20px; margin-right: 10px; color: #ff6600} 

li{
	font-size: 20px; 
	word-break: keep-all;
	color: #ffffff
}

dd{
	font-size: 15px; 
	word-break: keep-all;
	text-align: left;
	color: #bcbcbb
}

a {
	color: #ff6600;
	word-break: keep-all;
}

/* unvisited and unvisited links */
a:link, a:visited {
	color: #ff6600;
	display: inline-block;
}

/* mouse over and active links */
a:hover,a:active{
	color: #ff9900;
	text-decoration: none;
}


footer{
	background-color: #006633;
	text-align: center;
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
}

footer p{
	color: #000000;
	font-size: 15px;
	margin: 0;
	text-align: center;
	padding: 50px 0 25px 0;
}

.centralized {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

.flourish {
	color: #ff6600;
	font-size: 23px;
	text-indent: 0px;
	text-align: center;
}

.clean {
	word-break: keep-all;
	text-align: left;
}

.column {
	box-sizing: border-box;
	float: left;
	width: 245px;
    height: 410px;
    padding: 0;
	background-color: transparent;
	border: none;
}

.row:after {
content: "";
display: table;
clear: both;
}

.profile {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

.row{
	background-color: transparent;
	border: none;
}

p.centralized {
	text-indent: 0px;
	font-size: 15px;
	text-align: center;
	margin-top: 0px;
}

img.centralized {
	display: block;
}

h1 span.nihongo {
	font-family: Noto Sans JP, "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, Sans Serif;  
	font-weight: 800;
	font-size: 55px;
	letter-spacing: -1px;
	color: #000000;

}

.nihongo {
	font-family: Noto Sans JP, "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, Sans Serif;
	font-weight: 400;
	letter-spacing: -1px;
	color: inherit;
}